body {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
}

.header, .footer, .first {
    background-color: #1F2937;
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 24px;
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer {
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 24px;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
}

.first {
    color: #F9FAF8;
    padding: 20px 200px;
    gap: 40px;
    flex: 1;
}

.image-container {
    display: flex;
    color: white;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.text-box {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border-style: hidden;
    color: #E5E7EB;
    padding: 10px 35px;
    font-weight: 700;
    font-size: 18px;
    font-family: Roboto;
}

.first-text {
    color: #E5E7EB;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 350px;
    flex: 1;
}

.information{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.illustrations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.ill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-weight: 500;
    color: #95979b;
    width: 160px;
}
.ill-pic {
    height: 160px;
    width: 160px;
    border: 4px;
    border-radius: 15px;
    border-style: solid;
    border-color: #3882F6;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 350px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 0;
}

.author {
    color: #1F2937;
    font-weight: 700;
    font-size: 28px;
    margin: 0;
    align-self: flex-end;
}

.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
}